<!-- Extend base layout -->
{% extends "base.html" %}
{% block content %}
	<div class="container">
		<div class="jumbotron">
			<h1 class="text-center"> File Not Found </h1>
			<p> <a href="{{ url_for('index') }}"> Home </a> </p>
		</div>
	</div>
{% endblock %}
