<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	{% if title %}
	<title> {{ title }} - microblog </title>
	{% else %}
	<title> Welcome to microblog </title>
	{% endif %}

	<!-- Bootstrap -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" media="screen" title="no title">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" media="screen" title="no title">
	<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body style="background: #e9ebee;">
	<nav class="navbar navbar-default navbar-inverse" style="border-radius:0px;" role="navigation">
		<div class="container-fluid">
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				{% if current_user.is_authenticated %}
				<ul class="nav navbar-nav">
					<li class="active"><a href="/">Home</a></li>
					<li><a href="/profile/{{ current_user.username }}">Profile</a></li>
					<li><a href="/profile/{{ current_user.username}}">{{ current_user.username }}</a></li>

				</ul>

				<ul class="nav navbar-nav navbar-right">
					<form class="navbar-form navbar-left" action="/search" method="post">

						{{ g.search_form.hidden_tag() }} {% for error in g.search_form.errors %} {{ error }} {% endfor %} {{ g.search_form.query(style="border-radius:0px; height:35px", class="form-control", placeholder="Search")}}

						<button type="submit" class="btn btn-default" style="border-radius:0px;">Submit</button>
					</form>
					<li><a href="/logout">Logout</a></li>
				</ul>
				{% else %}
				<ul class="nav navbar-nav">
					<li class="active"><a href="/">Home</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
						<ul id="login-dp" class="dropdown-menu">
							<li>
								<div class="row">
									<div class="col-md-12">
										Login via
										<div class="social-buttons">
											<a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
											<a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
										</div>
										or
										<form class="form" role="form" method="post" action="/login" accept-charset="UTF-8" id="login-nav">
											<div class="form-group">
												<label class="sr-only" for="exampleInputEmail2">Email address</label>
												<input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
											</div>
											<div class="form-group">
												<label class="sr-only" for="exampleInputPassword2">Password</label>
												<input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
												<div class="help-block text-right"><a href="">Forget the password ?</a></div>
											</div>
											<div class="form-group">
												<button type="submit" class="btn btn-primary btn-block">Sign in</button>
											</div>
											<div class="checkbox">
												<label>
																		<input type="checkbox"> keep me logged-in
																</label>
											</div>
										</form>
									</div>
									<div class="bottom text-center">
										New here ? <a href="#"><b>Join Us</b></a>
									</div>
								</div>
							</li>
						</ul>
					</li>
				</ul>
				{% endif %}

			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div>
		{% with messages = get_flashed_messages() %} {% if messages %}
		<ul>
			{% for message in messages %}
			<li> {{ message }} </li>
			{% endfor %}
		</ul>
		{% endif %} {% endwith %} {% block content %}{% endblock %}
	</div>
	<script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js')}}" charset="utf-8"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.js')}}" charset="utf-8"></script>
</body>

</html>
