{% extends "base.html" %} {% block content %}

<div class="container">
	<div class="row">
		<h1>Edit your profile...</h1>
		<form id="contact-form" class="contact-form" method="post">
			{{ form.hidden_tag() }}
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						{% for error in form.username.errors %} {{ error }} <br> {% endfor %} {{ form.username(class="form-control", placeholder="Username") }}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						{% for error in form.about_me.errors %} {{ error }} {% endfor %} {{ form.about_me(class="form-control textarea", id=Message, placeholder="About") }}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<button type="submit" class="btn main-btn pull-right">Update</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}
