<!DOCTYPE html>
<html>

<head>
    <style>
        .email-background {
            background: #0395f4;
            padding: 10px;
        }
        
        .email-container {
            max-width: 400px;
            background: white;
            font-family: sans-serif;
            margin: 0 auto;
            overflow: hidden;
            border-radius: 5px;
            text-align: center
        }
        
        .pre-header {
            background: #0395f4;
            color: #0395f4;
            font-size: 5px;
        }
        
        img {
            max-width: 100%;
        }
        p {
            margin: 20px;
            font-size: 18px;
            font-weight: 300;
            text-align: center;
            color: #666;
            line-height: 1.5
        }
        .cta {
            margin: 20px;
        }
        .cta a {
            text-decoration: none;
            display: inline-block;
            background: #0066ff;
            color: #fff;
            padding: 10px 20px;
        }
        .footer {
            text-align: center;
            background: none;
            padding: 20px;
            font-size: 12px;
            color: #fff;
        }
        .footer a {
            color: #fff;
        }
        .img-div {
            position: relative;
            width: 100%;
        }
        h2 {
            position: absolute;
            top: 200px;
            left: 0;
            width: 100%;
        }
        h2 span {
            color: white;
            font: bold 24px/45px Helvetica, Sans-Serif;
            letter-spacing: -1px;
            background: rgb(0, 0, 0);
            background: rgba(0, 0, 0, 0.7);
            padding: 10px;
        }
    </style>
</head>

<body>
    <div class="email-background">
        <div class="pre-header"> Follow notification from microblog social network </div>
        <div class="email-container">
            <h1>
                Dear {{ user.username }}
            </h1>

            <div class="img-div">
                <img src="{{ follower.avatar(400) }}" alt="">
               <h2><span>{{ follower.username }}: is now following you.</span></h2>
            </div> 

            <div class="cta">
                <a href="{{ url_for('profile', username=follower.username, _external=True) }}">View profile</a>
            </div>
        </div>
        <div class="footer">
            admin@microblog.com | <a href="">Unsubscribe</a>
        </div>
    </div>
</body>

</html>