{% extends "base.html" %} {% block content %}

<div class="container">
	{% if user.username %}
	<h4>Hi {{ user.username }} whats in your mind?</h4>{% endif %}
	<div class="row">
		<div class="col-xs-12 col-md-12 col-sm-12">

			<form action="/" method="post" enctype="multipart/form-data">
				{{ form.hidden_tag() }}
				{{ form.post_image(class="img-btn") }}
				{% for error in form.post_image.errors %}
				{{ error }}
				{% endfor %}
				{{ form.post(class="form-control") }}
				{% for error in form.post.errors %}
				{{ error }}
				{% endfor %}
				<input type="submit" class="btn btn-primary" value="Post!">
			</form>

		</div>

	</div>
	<br />
	<br /> {% include 'post.html' %}

	<br />
	<br />
	<nav>
  <ul class="pager">
		{% if posts.has_prev %}
    <li class="previous"><a href="{{ url_for('index', page=posts.prev_num) }}">&lt;&lt; Newer posts</a></li>
		{% else %}
		<li class="previous"></li>
		{% endif %}
		{% if posts.has_next %}
    <li class="next"><a href="{{ url_for('index', page=posts.next_num) }}">Older posts &gt;&gt;</a></li>
		{% else %}
		<li class="next"></li>
		{% endif %}
  </ul>
</nav>
</div>
{% endblock %}
