<style>
    body {
        background: #0395f4;
    }

    .login-container {
        background: #fff;
        position: absolute;
        left: 50%;
        top: 30%;
        width: 400px;
        padding: 20px;
        margin-left: -200px;
        margin-right: -200px;
        text-align: center;
        box-shadow: 1px 1px 10px 2px;
    }

    .login-container > a {
        text-decoration: none;
        margin: 10px;
    }

    .login-form {
        margin-top: 20px;
    }

    .form-title {
        font-size: 20px;
        font-weight: 900;
        color: #666;
    }

    .messages {
        background: #E45738;
        padding: 10px;
        font-weight: 900;
        color: #fff;
    }

    input[type=text] {
        width: 70%;
        height: 40px;
        padding: 10px;
        margin-bottom: 10px;
    }

    input[type=password] {
        width: 70%;
        height: 40px;
        padding: 10px;
        margin-bottom: 30px;
    }

    #button {
        width: 70%;
        background: #015489;
        border: none;
        color: #fff;
        font-weight: bold;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #button:hover {
        background: #1698ec;
    }

    #register {
        color: #666;
        font-weight: 100;
        font-family: cursive, sans-serif;
    }
    #register a {
        text-decoration: none;
        color: #0395f4;
    }
</style>
<div class="login-background">
    <div class="login-container">
        <div class="form-title"> Login </div> {% with messages = get_flashed_messages() %} {% if messages %}
        <div class="messages"> {% for message in messages %} {{ message }} {% endfor %} </div> {% endif %} {% endwith %}
        <div class="login-form">
            <form action="/login" method="post"> {{ form.hidden_tag() }}
                <input type="text" name="username" placeholder="username" />
                <input type="password" name="password" placeholder="password">
                <a href="#">
                    <input type="submit" id="button" value="Login">
                </a>
            </form>
        </div>
        <span id="register"> Not registered?  <a href="/signup">Create an account</a> </span></div>
</div>
