{% for post in posts.items %}
<script type="text/javascript">
	function showImage() {
		$body("body").css("background-image", "url('image/path/here.png')");
		$('#full-image').hide();
	}
</script>
<div class="row">
	<div class="col-xs-12 col-md-12 col-sm-12">
		<div class="[ panel panel-default ] panel-google-plus">
			<div class="dropdown">
				<span class="dropdown-toggle" type="button" data-toggle="dropdown">
								<span class="[ glyphicon glyphicon-chevron-down ]"></span>
				</span>
				<ul class="dropdown-menu" role="menu">
					{% if post.author.username == current_user.username %}
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Edit Post</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="/del_post/{{post.id}}">Delete Post</a></li>
					<li role="presentation" class="divider"></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="/profile/{{ post.author.username}}">View Profile</a></li>
					{% else %}
					<li role="presentation"><a role="menuitem" tabindex="-1" href="/profile/{{ post.author.username}}">View Profile</a></li>
					{% endif %}
				</ul>
			</div>

			<div class="panel-heading">
				<img class="[ img-circle pull-left ]" src="{{ post.author.avatar(50) }}" alt="">
				<h3>
					<a href="/profile/{{ post.author.username}}">{{ post.author.username }}</a>
				</h3>
				<h5><span>Posted {{ momentjs(post.timestamp).fromNow() }}</span> </h5>
			</div>
			<div class="panel-body">
				<p>{{ post.body }}</p>

				{% if post.image_path %}
				<img src="{{ post.image_path }}" alt="" width="50%" onclick="showImage()" id="full-image"> {% endif %}
			</div>
		</div>
	</div>
</div>
{% endfor %}
