{% extends "base.html" %} {% block content %}
<div class="container">
	<div class="row" id="main">
		<div class="col-md-12" id="leftPanel">
			<div class="row">
				<div class="col-md-12">
					<div>
						<img src="{{ user.avatar(200) }}" alt="Texto Alternativo" class="img-thumbnail">
						<h2>{{ user.username }}</h2> {% if user.about_me %}
						<p> {{ user.about_me }} </p>
						{% endif %}
						<button class="btn btn-primary" type="button">
												 Followers&nbsp; <span class="badge"> {{ user.followers.count() }}</span>
											</button> {% if not current_user.is_following(user) %}
						<a href="{{ url_for('follow', username=user.username) }}"><button class="btn btn-primary" type="button">
													Follow
											</button></a> {% else %}
						<a href="{{ url_for('unfollow', username=user.username) }}"> <button class="btn btn-primary" type="button">
													Unfollow
											</button> </a>
						{% endif %} {% if user.id == current_user.id %}
						<a href="/edit">
							<button class="btn btn-primary" type="button">
															Edit profile
													</button>
						</a>
						{% endif %}

					</div>
				</div>
			</div>
		</div>
	</div>

	<hr> {% include 'post.html' %}
	<nav>
  <ul class="pager">
		{% if posts.has_prev %}
    <li class="previous"><a href="{{ url_for('profile', username=user.username, page=posts.prev_num) }}">&lt;&lt; Newer posts</a></li>
		{% else %}
		<li class="previous"></li>
		{% endif %}
		{% if posts.has_next %}
    <li class="next"><a href="{{ url_for('profile', username=user.username, page=posts.next_num) }}">Older posts &gt;&gt;</a></li>
		{% else %}
		<li class="next"></li>
		{% endif %}
  </ul>
</nav>
</div>
{% endblock %}
