{% extends "base.html" %} {% block content %}
<div class="container">
	<h1> Search results for "{{ query }}": </h1> {% for post in results %}
	<div class="row">
		<div class="col-xs-12 col-md-12 col-sm-12">
			<div class="[ panel panel-default ] panel-google-plus">
				<div class="dropdown">
					<span class="dropdown-toggle" type="button" data-toggle="dropdown">
									<span class="[ glyphicon glyphicon-chevron-down ]"></span>
					</span>
					<ul class="dropdown-menu" role="menu">
						{% if post.author.username == current_user.username %}
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Edit Post</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="/del_post/{{post.id}}">Delete Post</a></li>
						<li role="presentation" class="divider"></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="/profile/{{ post.author.username}}">View Profile</a></li>
						{% else %}
						<li role="presentation"><a role="menuitem" tabindex="-1" href="/profile/{{ post.author.username}}">View Profile</a></li>
						{% endif %}
					</ul>
				</div>

				<div class="panel-heading">
					<img class="[ img-circle pull-left ]" src="{{ post.author.avatar(50) }}" alt="">
					<h3>
						<a href="/profile/{{ post.author.username}}">{{ post.author.username }}</a>
					</h3>
					<h5><span>Posted {{ momentjs(post.timestamp).fromNow() }}</span> </h5>
				</div>
				<div class="panel-body">
					<p>{{ post.body }}</p>

					{% if post.image_path %}
					<img src="{{ post.image_path }}" alt="" width="100%"> {% endif %}
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
