<style>
	body {
		background: #0395f4;
	}

	.login-container {
		background: #fff;
		position: absolute;
		left: 50%;
		top: 30%;
		width: 400px;
		padding: 20px;
		margin-left: -200px;
		margin-right: -200px;
		text-align: center;
		box-shadow: 1px 1px 10px 2px;
	}

	.login-container>a {
		text-decoration: none;
		margin: 10px;
		display: flex;
	}

	.login-form {
		margin-top: 20px;
	}

	.form-title {
		font-size: 20px;
		font-weight: 900;
		color: #666;
	}

	.messages {
		background: #E45738;
		padding: 10px;
		font-weight: 900;
		color: #fff;
	}

	.label {
		flex: 1;
	}

	.input {
		flex: 3;
	}

	input[type=text] {
		width: 70%;
		height: 40px;
		padding: 10px;
		margin-bottom: 10px;
	}

	input[type=password] {
		width: 70%;
		height: 40px;
		padding: 10px;
		margin-bottom: 30px;
	}

	#button {
		width: 70%;
		background: #015489;
		border: none;
		color: #fff;
		font-weight: bold;
		padding: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	#button:hover {
		background: #1698ec;
	}

	#register {
		color: #666;
		font-weight: 100;
		font-family: cursive, sans-serif;
	}

	#register a {
		text-decoration: none;
		color: #0395f4;
	}

</style>
<div class="login-background">
	<div class="login-container">
		<div class="form-title"> Create Account </div> {% with messages = get_flashed_messages() %} {% if messages %}
		<div class="messages"> {% for message in messages %} {{ message }} {% endfor %} </div> {% endif %} {% endwith %}
		<div class="login-form">
			<form action="/signup" method="post">{{ form.hidden_tag() }} {% for error in form.username.errors %}
				<span style="color:red"> {{ error }} </span> {% endfor %}
				<div class="input">{{ form.username(placeholder="Username") }}</div>{% for error in form.email.errors %}
				<span style="color:red"> {{ error }} </span> {% endfor %}
				<div class="input">{{ form.email(placeholder="Email") }}</div>{% for error in form.password.errors %}
				<span style="color:red"> {{ error }} </span> {% endfor %}
				<div class="input">{{ form.password(placeholder="Password") }}</div>
				<div class="input">{{ form.confirm(placeholder="Confirm Password") }}</div>
				<a href="#">
					<input class="btn btn-default" id="button" type="submit" name="singup-btn" value="SignUp" />
				</a>
			</form>

			</form>

		</div>
		<span id="register"> Registered?  <a href="/login">procceed to Login</a> </span></div>
</div>
